.locationList-pageContainer {
  .locationList-headingRow {
    display: grid;
    border-radius: 25px;
    font-weight: bold;
    padding: 7px;
    font-size: 12px;
    margin: 10px;
    background: white;
    grid-template-columns: 1fr 2fr 2fr;
    box-shadow: 5px 0 5px -5px #ccc, 0 5px 5px -5px #ccc, -5px 0 5px -5px #ccc;
    span:first-child {
      padding-left: 60px;
    }
    span:nth-of-type(2) {
      padding-left: 60px;
    }
  }
  .locationList-dataRow {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 7px;
    font-size: 12px;
    margin: 10px;
    background: white;
    color: gray;
    border-radius: 25px;
    box-shadow: 5px 0 5px -5px #ccc, 0 5px 5px -5px #ccc, -5px 0 5px -5px #ccc;
    .phoneNoAndIcons {
      display: grid;
      grid-template-columns: 15fr 1fr 1fr;
      .pencilIcon {
        color: orange;
        cursor: pointer;
        font-size: 15px;
      }
      .trashIcon {
        color: red;
        cursor: pointer;
        font-size: 15px;
      }
    }
    span:first-child {
      span:first-child {
        margin-left: 2px;
        background: #15466f;
        color: white;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        padding: 1px 10px;
      }
      .locationNameValue {
        padding-left: 30px;
      }
    }
    .addressValue {
      padding-left: 60px;
    }
  }
  .locationList-pagination {
    background: white;
    border-radius: 25px;
    padding: 7px;
    font-size: 11px;
    color: gray;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 0 5px -5px #ccc, 0 5px 5px -5px #ccc, -5px 0 5px -5px #ccc;
    .itemsText{
        margin-right: 10px;
    }
    .numeralsText{
        margin: 0px 40px;
    }
    .paginationIcons{
        font-size: 15px;
        span{
            margin-right: 15px;
            cursor:  pointer;
        }
    }
    .pagination-select {
      font-size: 12px;
      margin-bottom: 4px;
      padding-bottom: 0;
    }
  }
}
